@charset "utf-8";

/* =========== Main.CSS Admin Theme FusionGEN =========== */

/* Fonts */
@font-face {
	font-family: 'MuseoSans';
	src: url('../../../fonts/MuseoSans_500-webfont.eot');
	src: url('../../../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/MuseoSans_500-webfont.woff') format('woff'),
		url('../../../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
		url('../../../fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSlab';
	src: url('../../../fonts/Museo_Slab_500-webfont.eot');
	src: url('../../../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/Museo_Slab_500-webfont.woff') format('woff'),
		url('../../../fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
		url('../../../fonts/Museo_Slab_500-webfont.svg#Museo_Slab500') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General */
body {
	font-family:'MuseoSans', Arial, Helvetica, Sans-serif;
	color:#393939;
	background-color:#3b3b3b;
	line-height:1.5;
	font-size:14px;
	margin:0px;
	padding:0px;
	background-image:url(../images/bg_tile.gif);
}

a {
	text-decoration:none;
}

a img {
	border:none;
}

table {
	border:none;
}

*:focus {
	outline:none;
}

.clear {
	clear:both;
}

.center_1020 {
	width:1020px;
	margin-left:auto;
	margin-right:auto;
}

#tooltip {
	padding: 7px;
	background-color:#070c21;
	background-color: rgba(7,12,33,0.9);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #777777;
	border-top:1px solid #cfcfcf;
	-webkit-box-shadow: 0px 0px 3px #000;
	-moz-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	color: #fff;
	font-size: 12px;
	line-height:1.5;
	position: absolute;
	display: none;
	z-index: 99999;
}

/* Icon positions */
.settings { background-position:256px 0px; }
.list { background-position:128px 0px; }
.tag { background-position:144px 0px; }
.cursor { background-position:160px 0px; }
.file { background-position:176px 0px; }
.database { background-position:192px 0px; }
.link { background-position:208px 0px; }
.windows { background-position:224px 0px; }
.logout { background-position:240px 0px; }
.pointer { background-position:112px 0px; }
.share { background-position:96px 0px; }
.heart { background-position:80px 0px; }
.hashtag { background-position:64px 0px; }
.users { background-position:48px 0px; }
.power { background-position:32px 0px; }
.star { background-position:16px 0px; }
.dashboard { background-position:0px 0px; }

/* Top bar */
header {
	height:58px;
	background-color: #1e1e1e;
	padding-top:10px;
}

header .logo, footer #logo .logo {
	display:block;
	width:197px;
	height:28px;
	float:left;
	background-image:url(../images/fusiongen.png);
	margin-top:13px;
}

header .right .welcome {
	color:#909090;
	font-size:16px;
	text-shadow:1px 1px 0px #000;
	float:right;
	margin-top:17px;
	margin-right:5px;
}

header .right .welcome b {
	color:#ffffff;
	font-weight:normal;
}

header nav .icon, #main .left .icon {
	background-image:url(../images/icons/icons.png);
	height:17px;
	width:16px;
	float:left;
	margin-right:10px;
	margin-top:2px;
}

header nav {
	float:right;
	max-width:370px;
}

header nav a {
	display:block;
	float:right;
	padding:5px 10px;
	margin-top:11px;
	border-radius:2px;
	border:1px solid #dc8044;
	color:#fff;
	text-shadow:1px 1px 0px #000;
	box-shadow:0px 1px 0px #000;
	margin-left:10px;
	text-decoration:none;
	background-color: #3d3d3d;
	transition:0.3s all;
	-webkit-transition:0.3s all;
}

header nav a:hover {
	border:1px solid #9b3d00;
}

header nav a:active {
	background-image:none;
}

header nav .active, #main .right .side_left .box li .button:hover, #main .right .side_right .box .button:hover, input[type="submit"]:hover, .nice_button:hover {
	border:1px solid #3d3d3d;
	background-color:#1e1e1e;
}

header nav .active:hover {
	border:1px solid #3d3d3d;
}

#top_spacer {
	height:50px;
}

/* Main layout body */
#wrapper {
	background-image:url(../images/upper_bg.png);
	background-repeat:no-repeat;
	background-position:top center;
	margin-left:auto;
	margin-right:auto;
	min-height:336px;
}

#main {
	background-color: #1e1e1e;
	border-radius:3px;
	min-height:200px;
}


/* Left column */
#main .left {
	width:299px;
	float:left;
}

/* Left menu */
#main .left nav {
	border-bottom:1px solid #101010;
}

#main .left nav a {
	display:block;
	height:33px;
	padding-left:15px;
	padding-top:11px;
	font-size:16px;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,0.6);
	text-decoration:none;
	background-color: #dc8044;
	border-bottom:1px solid #101010;
	-webkit-transition:0.3s all;
	transition:0.3s all;
}

#main .left nav a:active {
	color:#fff !important;
}

#main .left nav .active {
	background-position:0px 44px;
}

#main .left nav .sub a {
	background-color: #1e1e1e;
	border-bottom:1px solid #1e1e1e;
	color:#747474;
	padding-left:40px;
}

#main .left nav .sub a:hover {
	padding-left:60px;
	color:#999;
}

#main .left nav .sub .active:hover {
	color:#fff;
}

#main .left nav .sub a:hover .icon {
	opacity:0.6;
}

#main .left nav .sub a:first-child {
	border-top:none;
}

#main .left nav .sub .active {
	color:#fff;
}

#main .left nav .sub span {
	float:right;
	font-size:12px;
	background-color:#0a0a0a;
	border-radius:4px;
	padding:2px 7px;
	margin-right:10px;
	border:1px solid #272727;
	color:#fff;
	margin-top:-1px;
}

#main .left nav .sub a:hover span {
	background-color:#A41515;
	border:1px solid #d53939;
	background-image: linear-gradient(bottom, #A41515 0%, #B02222 100%);
	background-image: -o-linear-gradient(bottom, #A41515 0%, #B02222 100%);
	background-image: -moz-linear-gradient(bottom, #A41515 0%, #B02222 100%);
	background-image: -webkit-linear-gradient(bottom, #A41515 0%, #B02222 100%);
	background-image: -ms-linear-gradient(bottom, #A41515 0%, #B02222 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #A41515),
		color-stop(1, #B02222)
	);
}

#main .left nav .sub .active .icon, #main .left nav .sub a:active .icon {
	opacity:1;
}

#main .left nav .sub .icon {
	opacity:0.4;
	-webkit-transition:0.3s all;
	transition:0.3s all;
}

/* Information box */
#main .left article {
	background-color:#151515;
	margin:20px;
	padding:10px 15px;
	border-radius:5px;
	border:1px solid #232323;
	color:#7d7d7d;
	text-shadow:1px 1px 0px #000;
	font-size:12px;
	box-shadow:0px 1px 2px #000 inset;
}

#main .left article h1 {
	margin:10px 0px;
	padding:0px;
	text-shadow:1px 1px 1px #000;
	text-align:center;
	font-size:16px;
	color:#eee;
	font-weight:normal;
	font-family:'MuseoSlab', Arial, Helvetica, Sans-serif;
}

#main .left article a, #main .right section span a, #main .right section form label a {
	text-decoration:none;
	color:#fff;
}

#main .left article a:hover {
	color:#fff;
}

#main .right section span a:hover, #main .right section form label a:hover {
	color:#dc8044;
}

#main .left article .button {
	display:block;
	float:right;
	padding:3px 5px;
	color:#fff;
	background-color:#414141;
	border-radius:3px;
	border:1px solid #525252;
	text-decoration:none;
	margin-top:15px;
	box-shadow:0px 1px 0px rgba(0,0,0,0.5);
	background-image: linear-gradient(bottom, #414141 0%, #515151 100%);
	background-image: -o-linear-gradient(bottom, #414141 0%, #515151 100%);
	background-image: -moz-linear-gradient(bottom, #414141 0%, #515151 100%);
	background-image: -webkit-linear-gradient(bottom, #414141 0%, #515151 100%);
	background-image: -ms-linear-gradient(bottom, #414141 0%, #515151 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #414141),
		color-stop(1, #515151)
	);
	margin-bottom:5px;
}

#main .left article .button:hover {
	background-color:#1b618a;
	background-image: linear-gradient(bottom, #1b618a 0%, #2b729b 100%);
	background-image: -o-linear-gradient(bottom, #1b618a 0%, #2b729b 100%);
	background-image: -moz-linear-gradient(bottom, #1b618a 0%, #2b729b 100%);
	background-image: -webkit-linear-gradient(bottom, #1b618a 0%, #2b729b 100%);
	background-image: -ms-linear-gradient(bottom, #1b618a 0%, #2b729b 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1b618a),
		color-stop(1, #2b729b)
	);
	border:1px solid #317ba7;
	text-shadow:1px 1px 0px rgba(0,0,0,0.5);
}

#main .left .spacer {
	height:20px;
}

/* Right column */
#main .right {
	float:left;
	width:720px;
	margin-left:1px;
}

#main .right h1 a, #main .right .box h2 a  {
	color:#000;
}

#main .right h1 {
	height:35px;
	display:block;
	margin:0px;
	padding:0px;
	padding-top:6px;
	text-align:center;
	width:100%;
	font-weight:normal;
	font-family:MuseoSlab, Arial, Helvetica, Sans-serif;
	font-size:20px;
	color:#fff;
	background-color:#1e1e1e;
	border-top-right-radius:3px;
}

#main .right #content {
	border-top:1px solid #3d3d3d;
}

#main .right .statistics {
	background-color: #3d3d3d;
	border-radius: 3px;
	border: 1px solid #dc8044;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

#main .right .statistics span {
	display:block;
	position:absolute;
	font-family:MuseoSlab;
	font-size:16px;
	color:#dc8044;
	width:660px;
	padding:5px;
	text-align:right;
	opacity:0.6;
}

#main .right .statistics .image {
	width:667px;
	height:190px;
	padding:5px;
	background-color:#1e1e1e;
	box-shadow:0px 1px 3px #000;
}

#main .right .info_box {
	margin:10px;
	margin-bottom:5px;
	border-radius:3px;
	border:1px solid #3d3d3d;
	background-color:#1e1e1e;
}

#main .right h2 img {
	vertical-align: -2px;
	margin-right: 4px;
}

#main .right .info_box aside {
	float:left;
	width:231px;
	min-height:150px;
	color:#3d3d3d;
	padding-top:5px;
}

#main .right .info_box aside:first-child {
	border-left:none;
}

#main .right .info_box h2 {
	text-align:center;
	padding:0px;
	margin:0px;
	display:block;
	color:#fff;
	font-family:MuseoSlab;
	font-size:16px;
	margin-top:5px;
	font-weight:normal;
	border-bottom: 1px #dc8044 solid;
}

#main .right .info_box table {
	font-size:12px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3px;
}

#main .right .info_box td {
	padding:3px;
	text-align:right;
}

#main .right .info_box td:first-child {
	text-align:left;
}

#main .right .side_left {
	float:left;
	width:450px;
	margin:10px;
	margin-right:15px;
}

#main .right .box h2 {
	margin:0px;
	padding:0px;
	text-align:center;
	font-family:MuseoSlab;
	font-weight:bold;
	color:#fff;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#1e1e1e;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:1px solid #dc8044;
}

#main .right .box h3 {
}

#main .right .big {
	margin:10px;
}

#main .right .box span {
	padding:10px;
	display:block;
}

#main .right .box ul {
	margin:0px;
	padding:0px;
}

#main .right .box li {
	list-style:none;
	margin:0px;
	padding:10px;
	padding-left:15px;
}

#main .right .box li:hover td img {
	opacity:0.6;
}

#main .right .box td img {
	opacity:0.4;
	margin-top:5px;
	transition:all 0.3s ease;
}

#main .right .box td a:hover img {
	opacity:1;
}

#main .right .box li a, #main .right .side_right .box a  {
	color:#fff;
	text-decoration:none;
}

#main .right .box li:first-child {
	border-top:1px solid #dc8044;
}

#main .right .box li:nth-child(odd) {
	background-color:#1e1e1e;
}

#main .right .box li .button, #main .right .side_right .box .button, input[type="submit"], .nice_button {
	float:right;
	font-size:12px;
	text-decoration:none;
	color:#fff !important;
	border-radius:3px;
    cursor: pointer;
	background-color:#3d3d3d;
	border: 1px #dc8044 solid;
	padding:3px 5px;
	margin-top:-3px;
	margin-left:10px;
	text-align:center;
	transition:all 0.3s ease;
}

.nice_button {
	float:none;
	margin:0px;
	padding:6px 10px;
}

#main .right .side_left .box li .button:hover, #main .right .side_right .box .button:hover, input[type="submit"]:hover, .nice_button:hover {
	border:1px solid #3d3d3d;
	color:white !important;
	border: 1px #9b3d00 solid;
	transition:all 0.3s ease;
}

#main .right .side_left .box li .button:active, #main .right .side_right .box .button:active, input[type="submit"]:active, .nice_button:active {
	background-image:none;
	transition:all 0.3s ease;
}

/* regular lists */
#main .right .box .list {
}

#main .right .box ol.list, #main .right .box ol.list li {
	list-style: decimal;
}

#main .right .box ul.list, #main .right .box ul.list li {
	list-style: disc;
}

#main .right .box ol.list, #main .right .box ul.list {
	margin: 0;
	padding: 0;
}

#main .right .box .list li, #main .right .box .list li {
	margin: 4px 5px 4px 40px;
	padding: 4px 0px;
	background: inherit;
	border: inherit;
}

#main .right .side_right {
	width:235px;
	margin-top:10px;
	margin-right:10px;
	float:left;
}

#main .right .box {
	border-radius:3px;
	border:1px solid #3d3d3d;
	background-color:#1e1e1e;
	margin-bottom:15px;
}

#main .right .side_right .box .button, input[type="submit"] {
	float:none;
	width:60%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
}

#main .right .side_right .box .divider {
	margin-top:10px;
	height:1px;
	background-color:#1e1e1e;
	border-bottom:1px solid #dc8044;
}

#main .right .alert {
	border:1px solid red;
}

/* Dropdown panels */
#main .right .dropdown.help h3:before {
	content: '?';
	margin: 0;
	margin-right: 8px;
	margin-left: 4px;
	vertical-align: -1px;
	font-size: 18px;
	text-shadow: 0px 0px 5px black;
}

#main .right .dropdown h3 {
	display: block;
	border-radius: 3px;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	font-weight:normal;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
	padding: 4px 8px;
	color: white;
	line-height: 25px;
	margin: 0;
	
	background-color: #1d6d9c;
	background-image: linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -o-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -moz-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -webkit-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -ms-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1D6D9C),
		color-stop(1, #3D92C4)
	);
}

#main .right .dropdown h3:hover {
	background-color: #1d6d9c;
	background-image: linear-gradient(bottom, #217aaf 0%, #40a7e3 100%);
	background-image: -o-linear-gradient(bottom, #217aaf 0%, #40a7e3 100%);
	background-image: -moz-linear-gradient(bottom, #217aaf 0%, #40a7e3 100%);
	background-image: -webkit-linear-gradient(bottom, #217aaf 0%, #40a7e3 100%);
	background-image: -ms-linear-gradient(bottom, #217aaf 0%, #40a7e3 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #217aaf),
		color-stop(1, #40a7e3)
	);
}

#main .right .dropdown.active h3 {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#main .right .dropdown > div {
	display:none;
	margin: 0px;
	padding: 10px 14px;
	background: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}


/* Form styles */
form {
	margin:10px;
}

input[type="submit"] {
	padding:7px;
	width:auto;
	margin-top:20px;
	display:button;
}

label {
	display:block;
	margin-top:15px;
	font-size:12px;
	border-bottom: 1px solid #3d3d3d;
	margin-bottom:10px;
}

.inline_label {
	display:inline;
	margin-top:0px;
	font-size: 12px;
	border-bottom:none;
	margin-bottom:0px;
}

input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea
{
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
	width:99%;
	padding:8px;
	color:#fff;
	background-color:#1e1e1e;
	border:1px solid #dc8044;
	border-radius:2px;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
	transition:all 0.3s ease;
}

textarea {
	font-family:Courer New, Courier;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	color:#333;
	border:1px solid #dc8044;
	box-shadow:0px 0px 10px #dc8044;
	-moz-box-shadow:0px 0px 10px #dc8044;
	-webkit-box-shadow:0px 0px 10px #dc8044;
}

select {
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
	width:99%;
	padding:8px;
	color:#fff;
	background-color:#1e1e1e;
	border:1px solid #3d3d3d;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin:15px 5px 20px 5px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/* Footer */
footer {
	font-family:'MuseoSlab', Arial, Helvetica, Sans-serif;
	background-color:#1e1e1e;
	margin-top:50px;
	height:100px;
}

footer .center_1020 {
	background-color:rgba(0,0,0,0.1);
	border-left:;
	height:100px;
}

footer aside {
	float:left;
}

footer #logo {
	width:286px;
}

footer .logo {
	margin-top:35px !important;
	float:none;
	margin-left:50px;
}

footer #links {
	width:222px;
	padding-top:20px;
	padding-left:18px;
}

footer #links a {
	width:80px;
	margin-top:5px;
	margin-left:20px;
	float:left;
	margin-right:10px;
	color:#8a8a8a;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	transition:all 0.3s ease;
}

footer #links a:hover {
	color:#dc8044;
	transition:all 0.3s ease;
}

footer #discord {
	width:255px;
	text-shadow:1px 1px 0px #000;
}

footer #discord h1 {
	color:#cccccc;
	font-size:18px;
	font-weight:normal;
	margin:0px;
	padding:0px;
	margin-top:20px;
	text-align:center;
}

footer #discord #discord_icon {
	float:left;
	background-image:url(../images/discord.png);
	width:25px;
	height:21px;
	margin-left:47px;
	margin-top:2px;
	margin-right:8px;
}

footer #discord a {
	color:#499fd1;
	font-size:20px;
	text-decoration:none;
	float:left;
}

footer #discord a:hover {
	color:#fff;
}

footer #html5 {
	width:229px;
	text-align:center;
	padding-top:18px;
}

footer .divider, footer .divider2 {
	background-image:url(../images/footer_divider.png);
	height:99px;
	width:2px;
	float:left;
	opacity:0.4;
}

footer .divider2 {
	background-image:url(../images/footer_divider2.png);
}

.installer_navigation {
	text-align:center;
	padding:10px;
	margin-bottom:10px;
}

.installer_navigation a {
	margin-left:5px;
	margin-right:5px;
}

.introduction h3 {
	font-size:32px;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-top:10px;
}

.introduction {
	width:550px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.how_to_box {
	padding:10px;
	margin-bottom:10px;
}

/* Modal boxes: alert & confirm */
.popup {
	width:270px;
	display:none;
	z-index:999999;
	padding:20px;
	background-color:#1e1e1e;
	border:1px solid #dc8044;
	position:fixed;
	left:50%;
	margin-left:-120px;
	top:30%;
	border-radius:5px;
}

.popup h1 {
	margin:0px;
	padding:0px;
	text-align:center;
	font-weight:normal;
	font-size:18px;
	margin-bottom:10px;
	color:#fff;
}

.popup a {
	display:block;
	float:left;
	border-radius: 3px;
	color: #fff;
	line-height: 1;
	padding:10px 20px 10px 20px;
	text-align: center;
	font-weight:bold;
	margin-right:7px;
	margin-left:7px;
	width:50px;
	text-shadow:none;
	transition:all 0.3s ease;
}

.popup a:hover {
	text-shadow:none;
	text-decoration:none;
	color:#fff;
	transition:all 0.3s ease;
}

.popup_button {
	background-color: #7fbf4d;
	transition:all 0.3s ease;
}

.popup_button:hover {
	background-color: #76b347;
	transition:all 0.3s ease;
}

.popup_button:active {
	border: 1px solid #5b992b;
	transition:all 0.3s ease;
}

.popup_hide {
	background-color: #bfbfbf;
	border: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	transition:all 0.3s ease;
}

.popup_hide:hover {
	background-color: #adadad;
	transition:all 0.3s ease;
}

.popup_hide:active {
	border: 1px solid #a0a0a0;
    border-bottom: 1px solid #8b8b8b;
    -webkit-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
}

.popup_links {
	width:214px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
}

#popup_bg {
	background-color:#000;
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	display:none;
	top:0;
	left:0;
}

#alert_button {
	float: none;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

/* FusionEditor WYSIWYG field */
.fusioneditor .fusioneditor_tools {
	padding-top:5px;
	padding-bottom:5px;
	background-color:#3d3d3d;
	border:1px solid #3d3d3d;
	border-radius: 3px;
	border-bottom:none;
}

.fusioneditor form {
	margin:0px;
}

/* The tool buttons */
.fusioneditor {
	width:99%;
}

.fusioneditor .fusioneditor_tools a {
	display:block;
	float:left;
	margin-left:5px;
	padding:5px;
	padding-bottom:0px;
	padding-top:4px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid rgba(0,0,0,0);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}

.fusioneditor .fusioneditor_tools a:hover {
	border:1px solid #b7b7b7;
	background-color:#fff;
	box-shadow:0px 1px 0px #fff inset;
	-webkit-box-shadow:0px 1px 0px #fff inset;
	-moz-box-shadow:0px 1px 0px #fff inset;
}

.fusioneditor .fusioneditor_tools a:active {
	border:1px solid #666;
}

.fusioneditor .fusioneditor_field {
	width:auto;
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
	padding:8px;
	background-color:#1e1e1e;
	color: #fff;
	border:1px solid #dc8044;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	transition:all 0.3s ease;
	overflow:hidden;
}

.fusioneditor .fusioneditor_field:focus {
	border:1px solid #9b3d00;
}

.fusioneditor .fusioneditor_close {
	float:right;
	margin-right:5px;
}

.fusioneditor .fusioneditor_toolbox {
	border-top:1px solid #999;
	padding:5px;
	margin-top:5px;
	height:40px;
}

.fusioneditor span {
	padding:0px !important;
	display:inline !important;
}

.fusioneditor .fusioneditor_toolbox input[type="text"] {
	width:85% !important;
	margin-right:10px;
	margin-left:5px;
}

.fusioneditor .fusioneditor_toolbox input[type="submit"] {
	float:none !important;
	display:inline !important;
	margin:0px !important;
}

.fusioneditor .fusioneditor_size {
	height:20px;
	width:16px;
	margin-right:5px;
	margin-top:5px;
	text-align:center;
	font-weight:bold;
	color:#fff;
}

.fusioneditor .fusioneditor_size:hover {
	color:#fff;
}

.fusioneditor .fusioneditor_color {
	height:22px;
	width:17px;
	margin-right:5px;
	margin-top:5px;
	opacity:0.8;
}

.fusioneditor .fusioneditor_color:hover {
	border:1px solid #1e1e1e !important;
	opacity:1;
}

.fusioneditor .fusioneditor_color:active {
	border:1px solid rgba(0,0,0,0) !important;
}

.progress_bar {
	width:150px;
	height:5px;
	background-color:#ccc;
	border-radius:2px;
}

.progress_bar a {
	display:block;
	float:left;
	background-color:#1d6d9c;
	background-image: linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -o-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -moz-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -webkit-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -ms-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1D6D9C),
		color-stop(1, #3D92C4)
	);
	height:100%;
	border-radius:2px;
}

.q  { color: #ffd100 }
.q0 { color: #9d9d9d }
.q1 { color: #000 }
.q2 { color: #1eff00 }
.q3 { color: #0070dd }
.q4 { color: #a335ee }
.q5 { color: #ff8000 }
.q6 { color: #e5cc80 }
.q7 { color: #e5cc80 }
.q8 { color: #ffff98 }
.q9 { color: #71D5FF }
.q10 { color: #ffd100 }

.mceEditor { padding:0px !important;width:100%; }
.mceFirst span { padding:0px !important; }
.mceLast > .mceLast span { display:inline !important; }

/* ACP */
.acl_group_item {

}

.acl_role_item {
    padding-left: 10% !important;
}

.acl_permission_item {
    padding-left: 20% !important;
}